<script src="https://static.opentok.com/v1/js/video-express.js"></script>
<header>
  <%= render partial: 'header' %>
</header>

<main class="app">
  <div id="roomContainer"></div>
  <toolbar class="toolbar-wrapper">
    <%= render partial: 'toolbar' %>
  </toolbar>
</main>

<script>
  const room = new VideoExpress.Room({
   apiKey: '<%= @api_key %>', // add your OpenTok API key
   sessionId: '<%= @session_id %>', // add your OpenTok Session ID
   token: '<%= @token %>', // add your OpenTok token
   roomContainer: 'roomContainer',
   participantName: '<%= @name %>'
 });
 room.join();
</script>

